<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronXL.Excel" version="2021.11.0" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="NetOffice.Core" version="1.7.4.11" targetFramework="net472" />
  <package id="Visio2013.PrimaryInteropAssembly" version="1.0.0.4" targetFramework="net472" />
</packages>